body{
    background-color: rgba(99, 183, 224);
}

h1{
    font-family: sans-serif;
    color: white;
    font-size: 250%;
    text-align: center;
}
h2{
    font-family: sans-serif;
    text-align: center;
    color:white

}
h3, h4{
    font-family: sans-serif;
    text-align: center;
    color: white;
}
form{
    font-family: sans-serif;
    text-align: center;
    color: white;
}
nav{
    text-align: center;
    float: left;
    width: 25%;
    height: 3000 px;
    background-color: rgb(80, 147, 180);

}

button{
    background-color: rgb(80, 147, 180);
    color: aliceblue;
    border: 0cm;
    
}
.center {
    padding: 300px ;
    border: 10px;
    text-align: center;
  }

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}